<div id="page-content">
<div class="container-fluid mt-4 text-center">
  <h2>Projects</h1>
  <div class="row mt-4">
    <% @projects.each do |project| %>
      <div class="project_card col-lg-4 col-sm-6 col-xs-12">
        <div class="card">
          <img class="card-img-top" src='<%= asset_path( 'portfolio.jpg' ) %>' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= project.title %></h5>
            <p class="card-text"><%= project.description %></p>
            <%= link_to 'View', project_path(project.id) ,class: "btn btn-success"%>
            <% if logged_in? %>
              <%= link_to 'Edit', edit_project_path(project.id), class: "btn btn-primary"%>
              <%= link_to 'Delete', project_path(project.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>



